@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;

}

.header h1 {
    position: relative;
}

.header h1 div {
    width: 1200px;
    height: 800px;
}

.header h1 span img {
    margin: 0 0 0 800px;
    padding: 300px 0;
}

.container {
    position: absolute;
    top: 300px
}

.container li::before {
    content: "<i class='xi-heart'></i>";
    content: "\ea10";
    font-family: xeicon !important;
    color: red;
    display: inline-block;
    width: 80px;
    height: 80px;
}

/* 위치잡기, 기준점 잡기, flex 사용하기는 아직 어떻게 하는지 잘 모르겠웁니다,,,, */