/* 폰트는 두 개 사용했고(구글 웹폰트에서) 아이콘은 xeicon */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');


/* font-family: 'Nanum Myeongjo', serif; 나눔명조 쓰려면 복사해서 사용*/
body {
    font-family: 'Noto Sans KR', sans-serif;
    background: #ddd;
}

/* Wrap 안에서 모든걸 다 싸는 박스 여기에 position:relative 값을 줬다. */
main {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

/* 이 부분은 .save_video나 container나 상관 없는 듯 */
.save_video {
    padding: 100px 0;
    text-align: center;
    gap: 30px
}

/* .container {
    padding: 100px 0;
    text-align: center;
    gap: 30px
} */


/* .dec이나 .container나 상관없는 듯 */
main h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 10px;
}

main p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
}


.save_video .container {
    gap: 60px;
    display: flex;
}

.save_video .container figure {
    flex: 1;
}

.save_video .container .dec {
    flex: 1;
    padding: 30px 0;
}

.save_video video {
    max-width: 100%;
}

.save_video .dec i {
    padding: 10px;
    background: #333;
    color: #fff;
    margin: 0 5px 0 0;
}

/* 이렇게 다 해놓고 또 보면 알겠는데 막상 내가 하려니까 잘 안되는 이것,, 연습하자,,,, */


/* ---------------여기서부터는 유튜브 동영상 넣기---------------- */