/* 폰트는 두 개 사용했고(구글 웹폰트에서) 아이콘은 xeicon 귀찮아서 그냥 그대로 씀 ㅎ*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');


/* font-family: 'Nanum Myeongjo', serif; 나눔명조 쓰려면 복사해서 사용*/
body {
    font-family: 'Nanum Myeongjo', serif
}

/*----------------- 여기서부터는 상단부 배너(.top_banner, 닫히도록 만들었음)----------------- */
.container {
    position: relative;
    /* flex만 한 상태에서는 h2와 p가 같은 줄에 가로로 배치되어있다 */
    display: flex;
    /* 보통 container이라고 하면 1200px의 width를 준다는 것을 말한다. */
    width: 1200px;
    margin: 0 auto;
}

.top_banner {
    /* padding의 세부값은 포토샵으로 선생님이 잡아주셨다. 나는 그냥 선생님 따라함 ㅎ 혹시 세부적으로 잡아야 할 일이 생긴다면 포토샵으로 잡을 수 있다는 걸 기억만 해두자... padding, margin 세부적으로 넣는 거 너무 어려워... */
    padding: 25px 0;
    /* color도 마찬가지로 포토샵으로 찍어볼 수 있지만, 다른 방법도 있다. 나도 할줄 알지롱~ 다만 귀찮을 뿐,,, */
    background: #f1f1f1;
}

/* 이걸 넣기 전에는 폰트들이 말렸는데, 얘를 넣으니까 왜 안 말리지...? */
.top_banner .container {
    display: block;
}

/* 폰트를 원본과 반대로 사용함! */
.top_banner h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.top_banner p {
    font-size: 15px;
    font-weight: 900;
    padding: 3px 10px 0 0;
}

.top_banner a {
    /* 이때 디스플레이 block을 사용하면 만들어준 버튼이 밑으로 밀리는 현상이 발생한다. 왜냐하면 a가 혼자 한 줄을 차지하려고 하게 되기 때문이다. 왜그런지는 모르겠음 암튼 그럼 그래서 padding을 조정해서 가운데 예쁘게 오도록 만들어야한다. 이때 세부값은 역시 선생님 제공,,ㅎㅎㅎㅎ */
    padding: 3px 15px 5px 15px;
    border: 1px solid #333;
    margin: 0 0 0 20px;
}

.top_banner i {
    /* 버튼 아이콘의 위치를 조정ㅎ아기 위해 position:absolute를 사용했는데 relative랑 연결을 잘 시켜줘야 원하는 위치에 자리한다. 버튼 아이콘의 세부값은 역시 선생님 제공 ㅎㅎ*/
    position: absolute;
    top: 0px;
    right: 0%;
    padding: 10px;
    background: #333;
    color: #f1f1f1;
    cursor: pointer;
    /* 아무래도 폰트 때문인지 글자가 더 붙어있다. 패딩을 더 줘야할 것 같다. */
}

/*----------------- 여기서부터는 상단부 메뉴(.header .gnb)----------------- */
.header .gnb {
    line-height: 100px;
}

.header .gnb nav {
    margin: 0 0 0 auto;
}

/* 방법이 두 가지 있음 1. justify-content하기, 2. margin 조정하기, 여기서는 margin을 넣었음 */

/* justify-content 한 방법도 참고
    .header .gnb .container{
        justify-content: space-between;
    }*/

.header .gnb form {
    margin: 0 0 0 50px;
}

nav>ul {
    display: flex;
    margin: 3px 20px;
    /* gap을 쓰는 방법도 있는데, gap은 인터넷 익스플로러에서 적용이 안됨 */
}

/* gap 대신 하는 방법이 있는데, 밑에서 비포를 적용시켜주면서 마진을 주기때문에 이 값은 필요없어진다. */
/* nav>ul>li {
    padding: 0 20px;
} */

/*before을 써서 메뉴 앞에 바를 만듦 */
nav>ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background: #ddd;
    margin: 0px 20px;
}

#searchForm input[type='text'] {
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    padding: 5px 0;
}

#searchForm button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 30px;
}

/* -----------------여기서부터는 main_visual----------------- */

/* -----------------슬릭으로 넘어가는 슬라이드 배경 넣어주고 제이쿼리로 슬릭 기능 적용시켜주기----------------- */
.main_visual figure {
    position: relative;
    height: 600px;
}

.main_visual .itm01 {
    background: url(../img/mainvisual01.jpg) no-repeat center center/cover;
}

.main_visual .itm02 {
    background: url(../img/mainvisual02.jpg) no-repeat center center/cover;
}

.main_visual .itm03 {
    background: url(../img/mainvisual03.jpg) no-repeat center center/cover;
}


/* -----------------여기서부터는 상자 안에 들어가는 텍스트들----------------- */

.main_visual .container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ddd;

}

.main_visual figure h3 {
    font-size: 60px;
    font-weight: 900;
    margin: 0 0 20px 0;
    text-shadow: 0 0 5px #333;
}

.main_visual figure.itm02 h3 {
    color: #333;
    text-shadow: 0 0 5px #fff;
}

.main_visual figure p {
    font-size: 13px;
    font-weight: 300;
    margin: 0 0 20px 0;
}

.main_visual figure.itm02 p {
    color: #333;
    text-shadow: 0 0 0px #fff;
}

.main_visual figure a {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    border: 1px solid #fff;
    background: #333;
    padding: 5px 20px 8px 20px;
}


/* -----------------텍스트에 transform으로 효과 적용하기----------------- */
.main_visual figure h3 {
    transform: translateY(100px);
    opacity: 0;
}

.main_visual figure.on h3 {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

.main_visual figure p {
    transform: translateY(100px);
    opacity: 0;
}

.main_visual figure.on p {
    transform: translateY(0px);
    opacity: 1;
    transition: 0.5s 0.5s;
}

.main_visual figure a {
    transform: translateY(100px);
    opacity: 0;
}

.main_visual figure.on a {
    transform: translateY(0px);
    opacity: 1;
    transition: 0.5s 1s;
}



/* -----------------슬릭 버튼 디자인하고 효과 적용하기 after사용----------------- */

.main_visual .slick-dots {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.main_visual .slick-dots li {
    display: inline-block;
    width: 80px;
    height: 5px;
    background: #333;
    margin: 0 5px;
}

.main_visual .slick-dots li::after {
    content: "";
    display: block;
    height: 100%;
    width: 0%;
    background: #f00;
}

.main_visual .slick-dots li.slick-active::after {
    width: 100%;
    transition: 3s;
}

.main_visual .slick-dots button {
    display: none;
}


/* -----------------제품 확대----------------- */